@font-face {
    font-family: 'Fedra Sans Pro';
    src: url('FedraSansPro-Medium.woff2') format('woff2'),
         url('FedraSansPro-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Fedra Sans Pro Book';
    src: url('FedraSansPro-BookItalic.woff2') format('woff2'),
         url('FedraSansPro-BookItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Fedra Sans Pro';
    src: url('FedraSansPro-MediumItalic.woff2') format('woff2'),
         url('FedraSansPro-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Fedra Sans Pro';
    src: url('FedraSansPro-BoldItalic.woff2') format('woff2'),
         url('FedraSansPro-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Fedra Sans Pro';
    src: url('FedraSansPro-Bold.woff2') format('woff2'),
         url('FedraSansPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Fedra Sans Pro';
    src: url('FedraSansPro-LightItalic.woff2') format('woff2'),
         url('FedraSansPro-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Fedra Sans Pro Book';
    src: url('FedraSansPro-Book.woff2') format('woff2'),
         url('FedraSansPro-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fedra Sans Pro Normal';
    src: url('FedraSansPro-Normal.woff2') format('woff2'),
         url('FedraSansPro-Normal.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fedra Sans Pro Normal';
    src: url('FedraSansPro-NormalItalic.woff2') format('woff2'),
         url('FedraSansPro-NormalItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Fedra Sans Pro';
    src: url('FedraSansPro-Light.woff2') format('woff2'),
         url('FedraSansPro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}